name: Build and Test (macOS / Xcode)

on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: src

jobs:
  build:
    name: Build macOS apps
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List available Xcode versions
        run: ls /Applications | grep Xcode

      - name: Xcode version
        run: xcodebuild -version

      - name: Set Default Scheme
        run: |
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default

      - name: Build
        env:
          scheme: ${{ 'default' }}
          # CI-friendly flags (disable signing/hardened runtime to avoid codesign issues)
          XCODEFLAGS: >-
            -configuration Release
            CODE_SIGNING_REQUIRED=NO
            CODE_SIGNING_ALLOWED=NO
            CODE_SIGN_IDENTITY=""
            ENABLE_HARDENED_RUNTIME=NO
            DEBUG_INFORMATION_FORMAT=dwarf-with-dsym

        run: |
          if [ $scheme = default ]; then scheme=$(cat default); fi
          # xcodebuild clean build analyze -scheme "$scheme" -project VookiThermoPrinter.xcodeproj | xcpretty && exit ${PIPESTATUS[0]}
          xcodebuild clean build analyze -scheme "VookiThermoPrinter - D110" $XCODEFLAGS -project VookiThermoPrinter.xcodeproj
          xcodebuild clean build test -scheme "VookiThermoPrinter - D110" ENABLE_TESTABILITY=YES $XCODEFLAGS -project VookiThermoPrinter.xcodeproj -resultBundlePath TestResults.xcresult

